:root {
	--btnColor: none;
	--hvrColor: none;
}

#subjectPage {
	padding: 10%;
}

.button {
	background-color: var(--btnColor);
	color: white;
	padding: 12px 24px;
	cursor: pointer;
	float: none;
	text-align: center;
}

/* Clear floats (clearfix hack) */
/* IDK what this does LOL */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}
  
.btn-group button:not(:last-child) {
	border-right: none;
}
  
/* Change background color on hover */
.button:hover {
	background-color: var(--hvrColor);
	color: white;
	text-decoration: none;
}