.page-content-subject {
	padding: 10%;
}

.button {
	color: white;
	padding: 12px 24px;
	cursor: pointer;
	float: none;
	text-align: center;
	opacity: 0.75;
}

/* Clear floats (clearfix hack) */
/* IDK what this does LOL */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}
  
.btn-group button:not(:last-child) {
	border-right: none;
}
  
/* Change background color on hover */
.button:hover {
	/* background-color: #BA0000; */
	color: white;
	text-decoration: none;
	opacity: 1;
}

.subjectLink {
	color:inherit;
	text-decoration: none;
}