.welcome {
  position: absolute;
  font-size: 50px;
  font-weight: 900;
  font-family: Sofia Pro;
  letter-spacing: 0.07em;
}

.click {
  position: absolute;
  font-size: 22px;
  font-weight: normal;
  font-family: Helvetica Neue;
  letter-spacing: 0.1em;
}
