.welcome {
  position: absolute;
  font-size: 45px;
  font-weight: 900;
  font-family: Sofia Pro;
  letter-spacing: 0.07em;
}

.click {
  position: absolute;
  font-size: 19px;
  font-weight: normal;
  font-family: Helvetica Neue;
  letter-spacing: 0.1em;
}

.yellowBanner {
  position: absolute;
  left: 0px;
  top: 230px;
  height: 55%;
  width: 100%;
}

.eduImages {
  position: absolute;
  left: 260px;
  top: 265px;
  height: 23%;
  widthh: 40%;
}
