/* Global CSS that you might feel compelled to write */
@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('//db.onlinewebfonts.com/c/f78b3984438498d90048a2de3bda9b00?family=Sofia+Pro');

/* Offsets each page content so that it doesn't conflict with navbar*/
.page-content{
    padding-top: 76px;
}

/* Theme colors */

.theme-lighter {
  color: var(--colorLighter);
}
.theme-bg-lighter {
  background-color: var(--colorLighter);
}
.theme-fill-lighter {
  fill: var(--colorLighter);
}

.theme-light {
  color: var(--colorLight);
}
.theme-bg-light {
  background-color: var(--colorLight);
}
.theme-fill-light {
  fill: var(--colorLight);
}

.theme-color {
  color: var(--colorStandard);
}
.theme-bg-color {
  background-color: var(--colorStandard);
}
.theme-fill-color {
  fill: var(--colorStandard)
}

.theme-dark {
  color: var(--colorDark);
}
.theme-bg-dark {
  background-color: var(--colorDark);
}
.theme-fill-dark {
  fill: var(--colorDark)
}

.theme-darker {
  color: var(--colorDarker);
}
.theme-bg-darker {
  background-color: var(--colorDarker);
}
.theme-fill-darker {
  fill: var(--colorDarker)
}


/* For Toasts */

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 99999;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }

  .snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
