.navbar {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    background-color: #E2E8F0;
}

.dropdown-menu {
    right: 0;
    left: auto;
    width: max-content;
 }

#navbrand {
    font-style: normal;
    font-size: 27px;
}

/* Font Colors */
#basic-nav-dropdown {
    color: black;
}
#login-link {
    color: #7F9CF5;
    margin-right: 20px;
}
#sign-up-link {
    background-color: #7F9CF5;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100px;
    /* TODO: style button to spec */
}

.dropdown-nav-link-edit {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/* Navbar Hover Animation */
.nav-link {
    font-size: 14px;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 0px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}
.nav-link:hover {
    opacity: 1;
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
}
.nav-link-fade-up::before {
    width: 85%;
    bottom: 5px;
    opacity: 0;
}
.nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#logo {
    margin-right: 20px;
}

/* Horizontal Subject Navbar */


/* @media only screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }
} */

